.cci_quotes{
	padding: 10px !important;
	background-color:#fff;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;	
	overflow:hidden;
	font-size:14px;
}

.cci_quotes img{
	width:225px;
	margin-bottom:10px;
}

.cci_quotes .marquee {
  	width: 300px;
 	overflow: hidden;
  	border:1px solid #ccc;
}

.cci_quotes ul{
	padding:0px !important;
	margin:0px !important;
}

.cci_quotes li{
	float:left;
	margin-right:50px;
	list-style:none;
}

.cci_scroll{
	border: 1px solid #ccc;
    padding: 5px;
    margin-top: -5px;
}

.cci_quotes #cci{
	font-size:10px;
	color:#666;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	padding-top:5px;
}
.cci_quotes #cci a{
	color:#666;
	text-decoration:none;
}
.cci_quotes #cci a:hover{
	color:#ccc;
}

.cci_quotes .stockTable, .cci_quotes .cciTable {
    font-size: 11px;
    border-color: #000000;
    border-bottom-width: 1px solid;
	font-weight:bold;
}

.cci_quotes .stockTable th {
    color: #FFFFFF;
    background-color: #666 ;
    text-align:center;
    padding:5px;
	border-right:1px #fafafa solid;
}


.cci_quotes .stockTable tr td, .cci_quotes .cciTable tr td{
    height: 22px;
    border-color: #cccccc;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
	text-align:center;
	padding:10px;
}
.cci_quotes .cciTable{
	border:none;
}
.cci_quotes .cciTable th{
	font-weight: normal;
	font-size:16px;
	padding-top:10px;
	background:#333;
	color:white;
}

.cci_quotes .cciTable tr td{
	background:#333;
	color:white;
	font-weight: normal;
}

.cci_quotes tr:nth-child(even) {background: #FFF}
.cci_quotes tr:nth-child(odd) {background: #fafafa}

.cci_quotes .logo-cube{
	width:60px;
	position: relative;
	bottom: 5px;	
}